* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
html, body {
    background: linear-gradient(120deg, rgb(10, 6, 233), rgb(6, 223, 223));
    overflow: hidden;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
   
    
  }
  
  .inbox {
      
      width: 600px;
      height: 72%;
      border-radius: 0.2em;
      position: relative;
      box-shadow: 1px 1px 12px rgba(255, 255, 255, 0.877);
        
      
  }
  
  form {
    background: linear-gradient(120deg, rgb(60, 241, 238), rgb(20, 16, 230));
    }
  .inbox_input {
      width: 600px;
      border-radius: 0.1em;
      position: relative;
  }
  
  .inbox_logout {  
      margin: 40px;
      bottom: -20px;
      position: absolute;
      right: 0;
  }
  .message_form__input{
    background: rgba(68, 4, 247, 0.486);
      position: absolute;
      bottom: 0;
      left: 0;
      border: none;
      width: 73%;
      padding: 1.2em;
      outline: none;
      color: rgba(255, 255, 255, 0.9);
      font-weight: 300;
      
  }
  .chat_ib{
      float: left;
      text-align: left;
      margin: -0.25em 2em;
      font-size: 0.7em;
      font-weight: 300;
      color: rgb(255, 255, 255);
      width: 200px;
  }
  
  .inbox__people-list-bot{
  
      border-radius: 0.2em;
      position: relative;
      
  }
  .inbox__people-list {
  
      background: rgba(47, 4, 206, 0.774);
      width: 25%;
      height: 100%;
      float: right;
      border-top-right-radius: 0.2em;
      border-bottom-right-radius: 0.2em;
  }
  
  .inbox__people-list h4 {
      background: rgb(42, 26, 185);
      color: rgba(255, 255, 255, 0.9);
      font-size: 0.9em;
      padding: 1em;
      margin: 0;
      font-weight: 300;
      text-align: center;
  }
 
  .inbox__messages::-webkit-scrollbar-track
  {
       -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;

  }
 
.inbox__messages::-webkit-scrollbar
{
	width: 10px;
	background-color: #3e01cc;
}

.inbox__messages::-webkit-scrollbar-thumb
{
	background-color: rgb(87, 1, 226);
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}

  
.inbox__messages{
    overflow-y: scroll;
    overflow-x: hidden;
    width: 450px;
    background: rgba(0, 0, 0, 0.1);
    height: 91%;
    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
}

 
  .outgoing__message , .incoming__message {
    background: linear-gradient(120deg, rgb(95, 8, 235), rgb(63, 225, 236));
      padding: 1em 0;
      height: auto;
      width: 60%;
      border-radius: 5px;
      margin: 2em 1em;
  }
  .outgoing__message {
      float: right;
  }
  .incoming__message {
      float: left;
  }
  
  .sent__message {
      color: rgb(255, 255, 255);
      font-size: 1em;
      margin: 0 1em;
      
  }
  .received__message {
      color: rgb(255, 255, 255);
      font-size: 1em;
      margin: 0 1em;
  }
  .message__info{
    margin: 0 2em;
  }
  .message__author,.time_date{
      color: rgb(255, 255, 255);
      font-size: 0.5em;
      margin: 1 0em;
  }
h1{
    color: rgb(0, 0, 0);
    text-shadow: 3px 3px 5px rgb(255, 255, 255);
   
}
.btn{
    top: 320px;
    font-family: "proxima-nova", sans-serif;
    font-weight: 800;
    font-size: 13px;
    text-transform: uppercase!important;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    cursor: hand;
    text-align: center;
    text-transform: capitalize;
    border: 1.5px solid rgb(255, 247, 247);
    position: relative;
    overflow: hidden!important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: transparent!important;
    z-index:10;
    
}


.btn:hover{
    border: 1px solid #ffffff;
    color: #ffffff!important;
}
.btn::before {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #ff0404;
    position: absolute;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg); 
    transform: skewX(-20deg);   
    left: -10%;
    opacity: 1;
    top: 0;
    z-index: -12;
    -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
     box-shadow:2px 0px 14px rgba(0,0,0,.6);
  } 

.btn::after {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #1bb9e9ab;
    position: absolute;
  -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg); 
    transform: skewX(-20deg);   
    left: -10%;
    opacity: 0;
    top: 0;
    z-index: -15;
    -webkit-transition: all .94s cubic-bezier(.2,.95,.57,.99);
    -moz-transition: all .4s cubic-bezier(.2,.95,.57,.99);
    -o-transition: all .4s cubic-bezier(.2,.95,.57,.99);
    transition: all .4s cubic-bezier(.2,.95,.57,.99);
    box-shadow: 2px 0px 14px rgba(0,0,0,.6);
}
.btn:hover::before, .btn1O:hover::before{
  opacity:1;
  width: 116%;
}
.btn:hover::after, .btn1O:hover::after{
  opacity:1;
  width: 120%;
}