<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
<style>
  body {
    background: linear-gradient(120deg, rgb(60, 241, 238), rgb(20, 16, 230));
    overflow: hidden;
    
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    color: rgb(0, 0, 0);
    
  }
div{
    border: 2px solid #dedede;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    background-attachment: scroll;
  
  }
  h1 {
    font-size: 3.5em;
    padding: 0.5em;
    margin: 0;
    font-weight: 300;
    text-align: center;
}
form {
    background: linear-gradient(120deg, rgb(60, 241, 238), rgb(20, 16, 230));
    }
    .text-muted {
    color: #000000!important;
    text-shadow: 3px 3px 5px rgb(255, 255, 255);
    
}
.btn-primary {
  background-color :red;
}
</style>
</head>
<body>
  
    <div class="container p-5">
        <h1 class="text-center mb-5 text-uppercase text-muted">Real Time Chat</h1>    
            <div class="text-uppercase center">
              <form action="" method="POST">
                <div class="form-group">
                  <label for="_email">Your Name</label>
                  <input type="text" name="user_name" id="_rname" class="form-control" placeholder="Name" rnodeequired>
                </div>
                <div class="form-group">
                  <label for="_email">Email</label>
                  <input type="text" name="user_email" id="_email" class="form-control" placeholder="Email" rnodeequired>
                </div>
                <% if (locals.login_errors) { 
                  login_errors.forEach(function(error_msg){ %>
                  <div class= "alert alert-danger" role="alert"><%= error_msg %></div>
                <% });
                } %>
                <button type="submit" class="btn btn-primary">Enter Chat</button>
            </form>      
        </div>
    </div>
</body>
</html>